@import 'styles/_theme.scss';

.page {
  position: relative;
  width: auto;
  height: 100vh;

  &_home {
    &>section {
      z-index: 1;

      &:not(.graph-background) {
        position: relative;
      }

      &.home-page-image {
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background: $tertiary-color;

        @media (min-width: $minWidthDesktop) {
          height: 44.0625rem;
        }

        @media (min-width: $minWidthDesktopLarge) {
          height: 49rem;
        }

        @media (min-width: $minWidthDesktopExtraLarge) {
          height: auto;
        }

        img {
          display: block;
          max-height: 100%;
        }

        &:before {
          content: '';
          width: 100%;
          height: 100%;
          top: 0;
          z-index: 1;
          bottom: 0;
          background: $main-color;
          background: linear-gradient(to right,
              $main-color 0%,
              $secondary-color 100%);
          position: absolute;

          @media (min-width: $minWidthTablet) {
            background: linear-gradient(80deg,
                $secondary-color 0%,
                $tertiary-color 29%,
                rgba(0, 97, 207, 0.84) 52%,
                rgba(0, 97, 207, 0.67) 66%,
                rgba(0, 97, 207, 0.65) 67%,
                rgba(0, 97, 207, 0.33) 100%);
          }
        }

        svg {
          min-width: 100%;
          left: 0;
          display: block;
          width: 126%;
          bottom: -2px;
          z-index: 2;
          position: absolute;
          left: -25%;

          @media (min-width: $minWidthPhoneMiddle) {
            width: 106%;
            left: -5%;
          }
        }

        img {
          -webkit-mask-image: linear-gradient(to right,
              transparent 4%,
              black 11%);
          mask-image: linear-gradient(to left, transparent 4%, black 11%);

          @media (min-width: $minWidthPhoneMiddle) {
            -webkit-mask-image: linear-gradient(to right,
                transparent 4%,
                black 11%);
            mask-image: linear-gradient(to left, transparent 4%, black 11%);
          }

          @media (min-width: $minWidthTablet) {
            -webkit-mask-image: linear-gradient(to right,
                transparent 4%,
                black 11%);
            mask-image: linear-gradient(to left, transparent 4%, black 11%);
          }
        }
      }

      &.graph-background {
        z-index: 0;
      }
    }
  }
}