* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*START CROSS MENU*/
span {
  position: relative;
  height: 65px;
  /* this can be anything */
  width: 65px;
  /* ...but maintain 1:1 aspect ratio */
  display: flex;
  flex-direction: column;
  justify-content: left;
  cursor: pointer;
}

span::before,
span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 9px;
  /* cross thickness */
  background: white;
}

span::before {
  transform: rotate(45deg);
}

span::after {
  transform: rotate(-45deg);
}

/*END OF CROSS MENU*/
/*################################################*/
/* START INPUTS*/
/* input,
span,
label,
textarea {
  font-family: "Raleway", sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 12px;
}

textarea:focus,
input:focus {
  outline: 0;
}

/* Question */

/* input.question,
textarea.question {
  font-size: 24px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
  /* Hack to make "rows" attribute apply in Firefox. */

/* Underline and Placeholder */