// colors #0a6284
$light-font: PetitaLight,
Helvetica,
sans-serif;
$medium-font: PetitaMedium Helvetica,
sans-serif;
$bold-font: PetitaBold Helvetica,
sans-serif;
$main-color: #FAF0DC;
$secondary-color: #0a6284;
$tertiary-color: #FF6864;
$main-text-color:  #FAF0DC;
$secondary-text-color: #FF6864;
$black: #000000;
$white: #ffffff;
$light-black: #051423;
$cerulean: #0062cf;
$cerulean-dark: #004faa;
$aquamarine: #03cea4;
$dark-pink: #db3069;
$tangerine: #ff9100;
$ice-blue: #f2f5f7;
$border-ice-blue: #edf0f2;
$very-light-pink: #dcdcdc;
$aqua-marine: #32d6b4;
$seafoam-blue: #68e2c8;
$pale-turquoise: #b3f0e3;
$duck-egg-blue: #cdf5ed;
$darkish-pink: #e04f7f;
$medium-pink: #e56e96;
$faded-pink: #ed97b4;
$soft-pink: #f1acc3;
$graph-color-1: #91b4c8;
$graph-color-2: #0051ae;

// breakpoints
$minWidthDesktopHuge: 1920px;
$minWidthDesktopExtraLarge: 1440px;
$minWidthDesktopLarge: 1281px;
$minWidthDesktopMiddle: 1200px;
$minWidthDesktop: 992px;
$maxWidthTablet: 768px;
$minWidthTablet: 767px;
$minWidthPhoneMiddle: 576px;
$minWidthPhone: 320px;